torch --index-url https://download.pytorch.org/whl/cu118
deepspeed
loguru
wandb
git+https://gitee.com/drYuqian/transformers.git
git+https://gitee.com/drYuqian/peft.git
git+https://gitee.com/drYuqian/accelerate.git
scipy
rich
datasets
transformers_stream_generator
sentencepiece
tqdm
pandas
bitsandbytes
tensorboard
